/.idea/
/.ipynb_checkpoints/
/f/
/pandas_playground.ipynb
/data/
/data/empty/
/static/pdf/
/static/seal/
/static/texture/
!/test/
!/.gitignore
!/data/
/postprocessor/tests/
/doc/
/static/
!/tests/
!/dev.log
/script/
/dev.log
*.png
*.jpg
*.txt
*.json
/recycle/
/tests/
*.PNG
